::selection {
    
    background: #AOAOAO;
    
}

/*************************/
/* BODY */
/*************************/


body {
    
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

h1 {
    border-bottom: 20px solid black;    
    border-top: 20px solid black;
    font-size: 5em;
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-weight: 400;
}


.header {
    
    margin: 30px;
    margin-top: 65px;
    
}

@media (min-width: 760px){
    .header {
        margin-left: 10%;
        margin-right: 10%;
    }
}

.header .byline {
    
    color: rgb(55,55,55);
    font-size: 1.9em;
    font-style: italic;
    
}


/*************************/
/* NAVIGATION */
/*************************/

@media only screen and (min-width:760px){
    nav {
        background-color: white;
        padding: 20px 10%;
        position: fixed;
        text-align: left;
        top: 0;
        width: 100%;
    }
    
    nav a {
        margin: 0 5px;
    }
    
    nav a:nth-child(3){
        margin-left: 40px;
    }

    nav a:hover {
        text-decoration: none;
        border-bottom: 1px solid black;
        padding-bottom: 3px;
    }
    
}


@media only screen and (max-width:760px){
    nav {
        background-color: black;
        color:white;
        height: 100%;
        left: 0;
        position: fixed;
        transition: 0.5s;
        top: 0;
        width: 0px;
        z-index: 2;
    }
    
    nav a {
        color: white;
        display: block;
        margin: 20px 0;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        transition: 0.3s;
    }

    
    nav .fa {
        font-size: 2em;
        left: 10%;
        position: fixed;
        top: 20px; 
    }
    
    nav .fa-bars {
        color: black;
    }
    
    nav .fa-times {
        cursor:pointer;
    }
    
}

#menuBars {
    
    font-size: 1.5em;
    cursor: pointer;
    position: fixed;
}


/*************************/
/* TEXT */
/*************************/


#text {
    
    padding: 0px 20% 50px 20%;
    text-align: justify;
}

@media (max-width: 760px){
    
    padding: 0 20px;
}



#descr {
    
    text-align: center;
    
}

a {
    color:black;
    text-decoration: none;
}

#text a:hover {
    text-decoration: underline;
}


@media only screen and (max-width:760px){
    
    #text {
        padding:0px 5% 20px 0px;
    }   
}




/*************************/
/* FOOTER */
/*************************/

footer {
    background-color: rgba(0,0,0,1);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2em;
    padding: 40px 0px;
    text-align: left;
    width: 100%;
}

footer div:first-child {
    margin-left: 10%;
}

footer div:last-child {
    margin-right: 10%;
}

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover {
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}